---
import Layout from "../../layouts/Layout.astro";
import Project from "../../components/Project.astro";
import { LunitProjects } from "../../data/projects.js";
import { type ProjectType } from "../../data/projects.ts";
import LangPicker from "../../components/LangPicker.astro";
---

<Layout title="안녕하세요, 리암입니다">
  <main class="m-auto p-1 w-[900px] max-w-[calc(100%-2rem)] text-lg line-h-1_6">
    <LangPicker />
    <p class="pt-5 md:pt-5 text-lg md:text-2xl">
      안녕하세요, 저는 리암이라고 합니다.<br /><br /> 최근에 <a
        href="https://www.justgiving.com/"
        target="_blank"
        class="text-green-500"
      >
        JustGiving</a
      >에서 소프트웨어 엔지니어(풀스택 개발자)로 일했고 올해 한국에 왔습니다.
      지금은 서울대학교에서 한국어를 배우고 있습니다.
      <br /><br />
       다양한 기술을 사용한 경력이 있지만 그 중에서도 React, Typescript, .NET 및
      C#에 가장 자신 있습니다.
      <br /><br />
       제가 진행한 게임 프로젝트에 대한 <a
        href="https://liam-game-dev.vercel.app/"
        target="_blank"
        class="text-green-500"
      >
        게임 포트폴리오</a
      >도 확인해 보실 수 있습니다.

      <br /><br />
      <a
        href="https://www.linkedin.com/in/liam-morley1/"
        target="_blank"
        class="text-green-500"
      >
        @링크드인
      </a>{" "}
       -{" "}
      <a
        href="https://github.com/devldm"
        target="_blank"
        class="text-green-500"
      >
        @GitHub</a
      >

       -{" "}
      <a
        href="https://dribbble.com/LiamIsDesigning"
        target="_blank"
        class="text-green-500"
      >
        @Dribbble
      </a>{" "}
    </p>
    <section id="projects" class="my-6 md:my-16">
      <h2 class="text-3xl font-bold mb-6 md:mb-10">주요 프로젝트</h2>
      <div class="grid grid-cols-1 gap-6">
        {
          LunitProjects.map((project: ProjectType) => {
            return (
              <Project
                liveHref={project.liveHref}
                title={project.title}
                body={project.body_kr}
                github={project.github}
                stack={project.stack}
                imgPath={project.imgPath!}
              />
            );
          })
        }
      </div>
    </section>
  </main>
</Layout>
