---
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
import { Projects } from "../data/projects.ts";
import { type ProjectType } from "../data/projects.ts";
---

<Layout title="Hi, I'm Liam">
  <main class="m-auto p-1 w-[900px] max-w-[calc(100%-2rem)] text-lg line-h-1_6">
    <p class="pt-10 md:pt-24 text-lg md:text-2xl">
      Hi, I'm Liam. I recently left my role as Software Engineer at JustGiving
      and moved to Seoul. I am currently learning Korean at Seoul National
      University whilst searching for new roles.
      <br /><br />
       I've worked with many technologies throughout my career including a focus
      on React, Typescript, .NET, C# and GraphQL.
      <br /><br />
       If you are interested in my <strong>Game Development</strong>{" "}
       projects, check out my Game Dev portfolio{" "}
      <a
        href="https://liam-game-dev.vercel.app/"
        target="_blank"
        class="text-green-500"
      >
        here</a
      >.
      <br /><br />
       Find me on{" "}
      <a
        href="https://www.linkedin.com/in/liam-morley1/"
        target="_blank"
        class="text-green-500"
      >
        @LinkedIn
      </a>{" "}
       -{" "}
      <a
        href="https://github.com/devldm"
        target="_blank"
        class="text-green-500"
      >
        @GitHub</a
      >

       -{" "}
      <a
        href="https://dribbble.com/LiamIsDesigning"
        target="_blank"
        class="text-green-500"
      >
        @Dribbble
      </a>{" "}
    </p>
    <section id="projects" class="my-6 md:my-16">
      <h2 class="text-3xl font-bold mb-6 md:mb-10">Featured Projects</h2>
      <div class="grid grid-cols-1 gap-6">
        {
          Projects.map((project: ProjectType) => {
            return (
              <Project
                liveHref={project.liveHref}
                title={project.title}
                body={project.body}
                github={project.github}
                stack={project.stack}
                imgPath={project.imgPath!}
              />
            );
          })
        }
      </div>
    </section>
  </main>
</Layout>
